h1{
    margin-bottom : 50px;
}

.btn-align{
    display : flex;
    justify-content: center;
}

.select-member{
    background-color:#F44336;
    border: none; 
    color:white;
    font-size : 20px; 
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    
}

.delete-member{
    background-color:#F44336;
    border: none; 
    color:white;
    font-size : 20px; 
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    
}


.pagination-align{
    display : flex; 
    justify-content: space-around;
}

.row{
    margin-top : 30px;
}

/* 모달 시작 */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1500; /* 최상위 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow : auto; 
    background-color: rgba(0,0,0,0.4); 
}


/* 로그아웃 모달 팝업창 시작*/
.del-selected-member  {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 296px; 
    height : 223.2px;   
}

h2{
    font-size : 18px;
    font-family : "Noto Sans KR";
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    
}
p{
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: center;
    font-size: 15px;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-size : 15px;
    font-family : "Noto Sans KR";
}

.cancel-del{
    width : 80px;
    height : 48px;
    font-size : 12px;
    background-color : #F4F4FA;
    
}

.confirm-del{
    width : 80px;
    height : 48px;
    font-size : 12px;
    background-color : red;
}


.del_btn_group {
    display: flex;
    justify-content: space-evenly;
}

/*로그아웃 팝업 모달 끝*/